DATABASE_URL=
JWT_KEY=
JWT_ISSUER=todo2
JWT_AUDIENCE=todo2client
JWT_EXPIRES_MINUTES=120
CORS_ORIGINS=http://localhost:5173
GROQ_API_KEY=
GROQ_BASE_URL=https://api.groq.com/openai/v1/
RANDOM_AVATARS_BASE_URL=https://api.dicebear.com/9.x/
FILES_ROOT=.
